<div class="header">
  <div class="flex-item1">
    <img class="logo float-right" src="https://s.gravatar.com/avatar/4ab5b3c9862fc91e51e2e6f69a66e993?size=100&amp;default=retro"
      alt="avatar" title="angular" />
  </div>
  <div class="flex-item2">
    <button class="button-link">{{'linkToPoly' | translate}}</button>
    <button class="button-link">{{'linkToDummy' | translate}}</button>
  </div>
  <div class="flex-item3" [dir]="innerDir">
    <button class="button-white">{{'logout' | translate}}</button>
    <i class="margin-20 fas fa-align-justify"></i>
  </div>
</div>